@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

 /*------------css navbar LeandroAvilaTapia------------*/
nav{
  /* height: 78px; */
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-size: 20px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.90);
}
.divGeneralNav{
  width: 75vw;
  height: 78px;
}
@media (min-width: 992px) {
  nav img {
    border-right: 1.5px solid rgba(150, 150, 150, 0.575);
    justify-content:flex-start;
  }
}
@media (max-width: 992px) {
.divGeneralNav{
    width: 100vw;
    height: auto;
  }
nav img{
  margin: 22px 0;
}  
}
main{
  background-color: black;
}
/*------------------------------------------------------*/